body {
    font-family: Arial, sans-serif;
    background-color: #345e7d;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: white;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 600px;
    text-align: center;
}

h1 {
    margin-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 2px;
    text-align: left;
}

input[type="text"], input[type="email"] {
    margin-bottom: 20px;
    padding:10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 96%;
}

input[type="checkbox"] {
    margin-right: 10px;
}

fieldset {
    border: none;
    margin-bottom: 15px;
    padding: 0;
    text-align: left;
}

.product {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.product label {
    margin-right:15px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #345e7d;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #345e7d;
}

.button {
    display: inline-block;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.button:hover {
    background-color: #0056b3;
}

p {
    margin: 20px 0;
}